src/main/resources/META-INF/cat.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.michael.com/schema/cat"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		targetNamespace="http://www.michael.com/schema/cat"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
		
	<xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"/>
	
	<xsd:element name="cat">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="petName" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="age" type="xsd:int"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
</xsd:schema>